@media screen and (max-width: 668px) {
  .admin-custom-row {
    .email {
      display: none;
    }
  }

  .user-list-container {
    width: 92%;

    .user-header-container,
    .user-subtitle-container {
      padding: 1.2rem 0.9rem;
    }
  }

  .col-table-1 {
    display: none;
  }

  .col-table-2 {
    width: 55%;

    .img-name {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .img {
        img {
          width: 2.3rem;
          height: 2.3rem;
          border-radius: 50%;
          margin-right: 0.5rem;
        }
      }
    }
  }

  .col-table-3 {
    display: none;
  }

  .col-table-4 {
    display: none;
  }

  .col-table-5 {
    display: none;
  }

  .col-table-6 {
    display: none;
  }

  .col-table-7 {
    width: 40%;
  }

  #card-table {

    height: 100%;
    font-size: 0.88em;

    .custom-container {
      width: 92%;
      margin: 0.1rem auto 0rem auto;
      padding: 1.2rem 0.9rem;

      .row {
        .col-1 {
          width: 10%;
        }

        .col-2 {
          width: 60%;
        }

        .col-3 {
          display: none;
        }

        .col-4 {
          display: none;

        }

        .col-5 {
          display: none;
        }
      }
    }

    .custom-card {
      width: 92%;
      margin: 0.1rem auto 0rem auto;
      box-shadow: 0rem 0rem 0.2rem rgba(0, 0, 0, 0.2);
      padding: 1rem 0.9rem;

      &:hover {
        background: #f9f9f9;
        //   box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 1.5px rgba(0, 0, 0, 0.034),
          0 5px 4px rgba(0, 0, 0, 0.048), 0 8.5px 3px rgba(0, 0, 0, 0.06),
          0 2.3px 7.9px rgba(0, 0, 0, 0.072);
        transition: all 0.3s ease;
      }

      .text-lead {
        padding-bottom: 1rem;
        font-weight: bold;
        font-size: 1.3em;
      }

      .row {
        .col-1 {
          width: 10%;
        }

        .col-2 {
          width: 60%;
        }

        .col-3 {
          display: none;
        }

        .col-4 {
         display: none;
        }

        .col-5 {
          display: none;
        }
      }
    }
  }
}
